/*
 *= require_tree .
 *= require_self
 */

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
}

.created_at_label {
  font-size: 12px;
  color: #808080;
}

.image_form {
  display: none;
}
